@font-face {
    font-family: "quicksand-regular";
    src: url('fonts/Quicksand-Regular.ttf');
}

:root {
    --color-yellow: rgba(255, 198, 30, 1);
    --color-blue: rgba(0, 51, 127, 1);

    --button-bg: var(--color-yellow);
    --button-color: var(--color-blue);

    --container-max-width: 1200px;
}

body {
    margin: 0;
}

* {
    font-family: quicksand-regular;
    color: var(--color-blue);
}

label,
input[type="checkbox"],
input[type="radio"] {
    cursor: pointer;
}

input {

    &:user-invalid {
        border-color: crimson;
        background-color: lightcoral;
    }

    &:user-valid {
        border-color: forestgreen;
        background-color: lightgreen;
    }
}

/* Buttons */
button,
a[role="button"] {
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: 0.2s all ease-out;

    &:hover, &:focus {
        border-color: var(--button-color);
        outline: none;
        font-weight: bold;
    }
}

button.yellow,
a[role="button"].yellow {
    color: var(--button-color);
    background-color: var(--button-bg);
    border: 1px solid var(--button-bg);
}

button.blue,
a[role="button"].blue {
    --button-color: #fff;
    --button-bg: var(--color-blue);

    color: var(--button-color);
    background-color: var(--button-bg);
    border: 1px solid var(--button-bg);

    &:hover {
        border-color: var(--button-color);
    }
}

/***********/

/* Inputs */
input {
    border: 1px solid #b5b5bc;
    color: #070721;

&:not([type="checkbox"],[type="radio"]) {
    height: 2.5em;
    padding: 0 0.25em;
}

    &:required {
        border-right: 3px solid orangered;

        &:user-invalid {
            border-right: 3px solid crimson;
        }

        &:user-valid {
            border-right: 3px solid forestgreen;
        }
    }
}

label:has(.astrix)::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

label:has(.astrix):has(input:required:user-valid)::after {
    content: "\f00c";
    color: forestgreen;
}

label:has(.astrix):has(input:required:user-invalid)::after {
    content: "\f00d";
    color: crimson;
}

/**********/

.container {
    padding: 0;
    max-width: var(--container-max-width);
    margin: auto;

    @media only screen and (max-width: 1200px) {
        padding: 0 1rem;
    }
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    margin-bottom: 3em;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    .headerGrid {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;

        /* Logo */
        picture {
            width: 20%;

            img {
                width: 100%;
            }
        }

        /* Texten in header */
        .headerTexts {
            h1 {
                color: crimson;
            }
        }
    }
}

#result {
    display: none;

    &.active {
        display: block;
    }
}

main {
    margin-bottom: 5em;

    form {
        display: none;

        &.active {
            display: block;
        }

        > fieldset {
            border: none;

            > legend {
                display: grid;
                grid-template-columns: auto 1fr;
                grid-gap: .5rem;
                width: 100%;
                margin-bottom: 1em;

                div {
                    color: var(--color-blue);
                    background: var(--color-yellow);
                    padding: 0.25em 0.5em;
                }
            }
        }
    }

    fieldset {
        margin-left: 0;
        margin-right: 0;
    }

    .question {
        margin-bottom: 1em;
        padding: 0;

        fieldset {
            > div {
                display: grid;
                align-items: center;
                grid-template-columns: 1fr;
                grid-gap: 1em;

                &:has(p):has(div) {
                    grid-template-columns: 1fr 1fr;

                    @media (max-width: 557.98px) {
                        grid-template-columns: 1fr;
                    }
                }

                .twoColumns {
                    grid-column: 1 / span 2;

                    @media (max-width: 557.98px) {
                        grid-column: 1;
                    }
                }
            }

            &.verkrijger > div {
                grid-template-columns: 1fr 1fr 1fr;

                @media (max-width: 557.98px) {
                    grid-template-columns: 1fr;
                }
            }
        }
    }

    table {
        width: 100%;

        td {
            padding: 0 1em;
            text-transform: lowercase;

            &:first-letter {
                text-transform: uppercase;
            }
        }

        input:not([type="checkbox"], [type="radio"]) {
            width: 100%;
        }

        label {
            text-transform: lowercase;

            &:first-letter {
                text-transform: uppercase;
            }
        }
    }

    .buttonContainer {
        margin-top: 1em;
        display: flex;
        align-items: center;

        &:has(.next):has(.prev) {
            justify-content: space-between;
        }

        &:has(.next) {
            justify-content: end;
        }
    }

    /* Hide vragen als invoer ze skipt */
    fieldset.question:has(div[data-skip-sibling] input[type="radio"][value="no"]:checked) {
        > fieldset[data-hidable] {
            display: none;
        }
    }

    dialog {
        max-width: 80vw;
    }
}